
@font-face {
    font-family: 'JacksonMn';
    src: url('..//assets/fonts/jackson-mn.ttf') format('truetype');
}

:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #ff1d7c;
  --font-color: #ffffff;
  --secondary-font-color: #000000;

  --font-family: 'Roboto', sans-serif; 
  --font-family-title: 'JacksonMn', sans-serif;
  --font-size-base: 16px;
  
  --small-spacing: 8px; 
  --medium-spacing: 16px; 
  --large-spacing: 24px; 
  --xlarge-spacing: 48px; 

  --border-radius: 24px; /* Radio de borde */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px; 
  margin: 0 auto
}

body {
  font-family: var(--font-family); 
  font-size: var(--font-size-base)px;
  color: var(--font-color);
  background-color: var(--main-color);
}

h1 {
  font-family: var(--font-family-title); 
}

footer {
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
   border-top: 1px dashed var(--secondary-color);
     padding: var(--medium-spacing); 
}

.icon-header-wrapper {
  background-color: var(--accent-color);
  padding: var(--small-spacing); 
  height: 100%;
  width: 84px
}

.confirm-button {
  display: flex;
  align-items: center;
  gap: var(--small-spacing); 
  text-decoration: none;
  border: 1px solid  var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--small-spacing) var(--medium-spacing); 
  color: var(--font-color);
}

.info-section {
  position: relative;
  border-top: 1px dashed var(--secondary-color);
}


.info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 1080px; 
  margin: 0 auto;
  padding-top: var(--medium-spacing); 
}

.info h2 {
  font-family: var(--font-family-title); 
}

.info span {
  display: block;
  margin-top: var(--medium-spacing);
  font-size: 27px;
  font-weight: bold;
}

.disco-ball-container{

}

.disco-ball{
 width: 700px;
 height: 500px;
 margin: 0 auto;
 overflow: hidden;
 display: grid;
}

.disco-ball video{
 width: 500px;
margin: 0 auto;
}

.disco-ball-rope{
  position: absolute;
  left:50%;
  top: 0;
      width: 2px;
    height: 212px;
      margin: 0 auto;
      border-left: 1px dashed var(--secondary-color);
}

.gallery-container {
  max-width: 1080px; 
  padding: var(--medium-spacing) 0; 
  margin: 0 auto;
    overflow: hidden;
}

.gallery {
  display: flex;
  gap:var(--large-spacing); 
width: 4732px;
animation: slide 10s ease infinite;
}

@keyframes slide {
  15% {margin-left: 0px;}
  30% {margin-left: -728px;}
  45% {margin-left: -1456px;}
  60% {margin-left: -2184px;}
  75%{margin-left: -2912px;}
  90%{margin-left: -3640px;}

}


.slide {
  float: left;
  display: inline-block;
  width: 315px;
  height: 315px;
  border: 1px solid var(--secondary-color);
}

.statement-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
    max-width: 1080px; 
   padding: var(--medium-spacing) 0; 
   margin: 0 auto;
}

.statement {
  padding: var(--medium-spacing); 
  background-color: var(--secondary-color);
}

.statement-info {
  width: 50%;
  font-family: var(--font-family-title); 
  font-size: 48px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-style: italic;
}

.see-us-container{
  display: grid;
  row-gap:var(--medium-spacing); 
  justify-items: center;
 padding: var(--xlarge-spacing); 

}

.see-us-container > span {
   font-family: var(--font-family-title); 
  font-size: 48px;

}