@font-face {
	font-family: 'JacksonMn';
	src: url('../assets/fonts/jackson-mn.ttf') format('truetype');
	display: swap; 
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
}


:root {
	--main-color: #000000;
	--secondary-color: #ffffff;
	--accent-color: #ff1d7c;
	--font-color: #ffffff;
	--secondary-font-color: #000000;

	--font-family: 'Roboto', sans-serif;
	--font-family-title: 'JacksonMn', sans-serif;
	--font-size-base: 16px;

	--small-spacing: 8px;
	--medium-spacing: 16px;
	--large-spacing: 24px;
	--xlarge-spacing: 48px;

	--border-radius: 24px;
	--max-width-container: 1080px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: var(--max-width-container);
	margin: 0 auto;
	padding-right: var(--medium-spacing);
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size-base)px;
	color: var(--font-color);
	background-color: var(--main-color);
}

h1 {
	font-family: var(--font-family-title);
	font-size: 36px;
	line-height: 52px;
}

footer {
	font-style: italic;
	font-size: 0.75rem;
	text-align: center;
	border-top: 1px dashed var(--secondary-color);
	padding: var(--medium-spacing);
}

.icon-header-wrapper {
	background-color: var(--accent-color);
	padding: var(--small-spacing);
	height: 100%;
	width: 84px;
}

.confirm-button {
	display: flex;
	align-items: center;
	gap: var(--small-spacing);
	text-decoration: none;
	border: 1px solid var(--secondary-color);
	border-radius: var(--border-radius);
	padding: var(--small-spacing) var(--medium-spacing);
	color: var(--font-color);
}

.event-presentation-section {
	max-width: var(--max-width-container);
	text-align: center;
	padding: var(--xlarge-spacing) 0;
	margin: 0 auto;
}

.info-section {
	position: relative;
	border-top: 1px dashed var(--secondary-color);
}

.info {
	display: grid;
	row-gap: var(--xlarge-spacing);
	text-align: center;
	max-width: var(--max-width-container);
	margin: 0 auto;
	padding-top: var(--medium-spacing);
}

.info h2 {
	font-family: var(--font-family-title);
}

.info span {
	display: block;
	margin-top: var(--medium-spacing);
	font-size: 27px;
	font-weight: bold;
}

.disco-ball-container {
	margin-top: var(--xlarge-spacing);
}

.disco-ball {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	display: grid;
}

.disco-ball video {
	width: 300px;
	margin: 0 auto;
}

.disco-ball-rope {
	position: absolute;
	left: 50%;
	top: 0;
	width: 2px;
	height: 100px;
	margin: 0 auto;
	border-left: 1px dashed var(--secondary-color);
}

.gallery-container {
	max-width: 100%;
	padding: var(--medium-spacing) 0;
	margin: 0 auto;
	overflow: hidden;
}

.gallery {
	display: flex;
	gap: var(--small-spacing);
	width: 2632px;
	animation: slide 20s ease -2s infinite;
}

.slide {
	display: inline-block;
	width: 180px;
	height: 180px;
	border: 1px solid var(--secondary-color);
}


@keyframes slide {
    15% {
        margin-left: 0; /* Comienza desde la posición inicial */
    }

    30% {
        margin-left: -460px; 
    }

    45% {
        margin-left: -920px; 
    }

    60% {
        margin-left: -1380px; 
    }

    75% {
        margin-left: -1840px;
    }

    90% {
        margin-left: -2300px; 
    }

}

.statement-container {
	background-color: var(--secondary-color);
}

.statement {
	padding: var(--large-spacing);
}

.video-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.video-container video {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.statement-info {
	font-family: var(--font-family-title);
	font-size: 36px;
	color: var(--accent-color);
	text-transform: uppercase;
	font-style: italic;
	line-height: 52px;
}

.see-us-container {
	display: grid;
	row-gap: var(--medium-spacing);
	justify-items: center;
	padding: var(--xlarge-spacing) 0;
	text-align: center;	
	margin: 0 auto;
}

.see-us-container > div {
	display: grid;
	row-gap: var(--xlarge-spacing);
	margin-bottom: var(--xlarge-spacing);
}

.see-us-container > div > h1 {
	padding: var(--medium-spacing);
}

@media only screen and (min-width: 600px) {
	.header {
		padding: 0;
	}

	.disco-ball {
		width: 700px;
		height: 500px;
	}

	.disco-ball video {
		width: 500px;
	}

	.disco-ball-rope {
		height: 112px;
	}

	.info-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.gallery-container {
		max-width: var(--max-width-container);
	}

	.gallery {
		gap: var(--large-spacing);
		width: 4732px;
	}

	.slide {
		width: 315px;
		height: 315px;
	}

	@keyframes slide {
		15% {
			margin-left: 0px;
		}
		30% {
			margin-left: -728px;
		}
		45% {
			margin-left: -1456px;
		}
		60% {
			margin-left: -2184px;
		}
		75% {
			margin-left: -2912px;
		}
		90% {
			margin-left: -3640px;
		}
	}

	.statement-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		order: -1;
		height: 540px;
		max-width: var(--max-width-container);
		padding: var(--medium-spacing) 0;
		margin: 0 auto;
	}

	.statement {
		padding: var(--xlarge-spacing) 0 var(--xlarge-spacing) var(--xlarge-spacing);
	}

	.statement-info {
		font-size: 48px;
	}

	.see-us-container {
		display: grid;
		row-gap: var(--medium-spacing);
		justify-items: center;
		padding: var(--xlarge-spacing) 0 var(--xlarge-spacing) var(--xlarge-spacing);
		text-align: center;	
		max-width: var(--max-width-container);
		margin: 0 auto;
	}

	.see-us-container > div {
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: center;
		column-gap: var(--xlarge-spacing);
	}
}
